* {
  font-family: 'Sen', sans-serif;
  color: #FFFFFF;
}

main {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  background-color: #049297;
  width: 100vw;
  height: 100vh;
  margin: 0;
}

.human-stats-container,
.computer-stats-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: #03767A;
  height: 100%;
  width: 15%;
}

.human-stats-container h1,
.computer-stats-container h1 {
  font-size: 50px;
}

.human-stats-container h2,
.computer-stats-container h2 {
  font-size: 25px;
  margin-top: -25px;
  margin-bottom: 0;
}

.human-stats-container,
.computer-stats-container p {
  font-size: 18px;
}

.change-game-button {
  background-color: #025053;
  width: 80%;
  height: 5%;
  border: none;
  box-shadow: none;
  margin-top: 75px;
}

.change-game-button:hover {
  border: solid 2px white;
  cursor: pointer;
}

.game-console-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 68%;
  margin: 0;
}

.classic-game-container,
.spicy-game-container,
.winning-player {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 68%;
  margin: 0;
}

.game-console-container h1,
.classic-game-container h1,
.spicy-game-container h1,
.winning-player h1 {
  font-family: 'Bangers', cursive;
  font-size: 70px;
}

.classic-game-container h2,
.spicy-game-container h2,
.winning-player h2,
.game-console-container h2 {
  margin-top: -50px;
  margin-bottom: 40px;
}

.game-console-container button {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: #03767A;
  border: none;
  box-shadow: none;
  width: 25%;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 30px;
}

.game-console-container button:hover {
  border: solid 2px white;
}

.classic-game-button ul,
.spicy-game-button ul {
  padding: 0;
  list-style-type: none;
  margin-bottom: 40px;
}

.classic-game-button h3,
.spicy-game-button h3 {
  font-family: 'Bangers', cursive;
  font-size: 25px;
  margin-top: 10;
}

.fighter-options {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  width: 70%;
  margin-top: 100px;
}

#rockBtn,
#paperBtn,
#scissorsBtn,
#lizardBtnSpicy,
#alienBtnSpicy,
#rockBtnSpicy,
#paperBtnSpicy,
#scissorsBtnSpicy {
  width: 175px;
  height: auto;
  margin-bottom: 20px;
}

.chosen-fighters-container {
  display: flex;
  flex-direction: row;
  margin-top: 100px;
}
.chosen-fighters-container img {
  width: 175px;
  height: auto;
}

.hidden {
  display: none;
}
